/* transition, trasform 실습 1번 */
.outer {
    width: 100vw;
    height: 100vh;
    background-color: rgb(174, 192, 207);
    /* position: relative; */
}

.box {
    width: 30vw;
    height: 30vh;
    background-image: url(./image/night.jpg);
    background-size: cover;
    transform: skew(0, 20deg);
    transition: transform 1s;
}

.box:hover {
    transform: skew(0deg, 0deg);
    z-index: 8;
}

.box1 {
    position: absolute;
    left: 25%;
    top: 50%;
    z-index: 3;
}

.box2 {
    position: absolute;
    left: 35%;
    top: 40%;
    z-index: 2;
}

.box3 {
    position: absolute;
    left: 45%;
    top: 30%;
    z-index: 1;
}

/* transition, trasform 실습 2번 */

div {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid black;
    box-sizing: border-box;
}

.no1:hover {
    width: 200px;
}

.no1 {
    transition: width 1s ease;
}

.no2:hover {
    transform: skewX(-50deg) translate(60px, 0);
}

.no2 {
    transition: 1s ease;
}

.no3:hover {
    background-color: red;
    border-radius: 50%;
    transform: translate(30vw) rotate(360deg);
    /* 순서가 달라지면 된다. */
}

.no3 {
    transition: 1s ease;
}

.no4:hover {
    background-color: yellow;
    transform: rotateY(360deg) scale(1.5);
}

.no4 {
    transition: 1s ease;
}

/* animation 실습 1번: 공 움직이기 실습 */
.ball {
    width: 100px;
    height: 100px;
    background: linear-gradient(orange yello);
    border-radius: 50%;
}