/* 배경 적용 */
/* div {
    width: 800px;
    height: 500px;
    background-color: skyblue;
    background-image: url(./image/Owl_image.png);
}

.div1 {
    background-position: center;
    background-repeat: repeat-x;
}

.div2 {
    background-size: contain;
    background-position: 100px 30px;
    background-repeat: no-repeat;
}

.div3 {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
} */

/* relative / absolute / fixed */
/* body {
    height: 200vh;
}

.container {
    width: 500px;
    height: 500px;
    position: relative;
    border: 1px solid black;
}

.item {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
}

.no1 {
    position: relative;
    left: 50px;
    top: 30px;
}

.no2 {
    position: absolute;
    right: 30px;
    bottom: 100px;
}

.no3 {
    position: fixed;
    right: 100px;
    top: 100px;
} */

/* 요소 쌓임 순서 및 z-index */
/* .container {
    width: 500px;
    height: 500px;
    position: relative;
    border: 1px solid black;
    text-align: center;

    position: relative;
}

.item {
    width: 100px;
    height: 100px;

    position: absolute;
}

.no1 {
    background-color: yellowgreen;
    z-index: 3;
}

.no2 {
    left: 30px;
    top: 30px;
    background-color: lightgoldenrodyellow;
    z-index: 1;
}

.no3 {
    background-color: lightpink;
    left: 60px;
    top: 60px;
    z-index: 2;
} */

/* Background 실습 */
/* .big {
    width: 300px;
    height: 300px;
    background: linear-gradient(45deg, #ffe600 10%, #ff0080, #db20db);
    border-radius: 50%;

    position: relative;
}

.small {
    box-sizing: border-box;

    width: 285px;
    height: 285px;
    border-radius: 50%;
    background: white url("./image/Owl_image.png") no-repeat center/cover;
    border: 5px solid white;

    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
} */

/* Position 실습 */
.box1 {
    width: 200px;
    height: 200px;
    border: 5px solid grey;
    border-radius: 40px;
    background-color: transparent;

    position: relative;
    z-index: 0;
}
 
 .box2-1 {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 35px 0 0 0;

    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.box2-2 {
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 0 35px 0 0;

    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.box2-3 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 0 0 0 35px;

    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.box2-4 {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 0 0 35px 0;

    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

.box3-1 {
    width: 50px;
    height: 50px;
    background-color: black;

    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 4;
}

.box3-2 {
    width: 50px;
    height: 50px;
    background-color: lightgray;

    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 6;
}

.box4 {
    width: 25px;
    height: 25px;
    background-color: gray;

    position: absolute;
    bottom: 90px;
    right: 90px;
    z-index: 5;
}